<div class="container-fluid centrar-login" style="background-color: #a9d7dd;">
    <div class="row">
        <div class="col-lg">
            <img src="assets/background.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-ms text-center espacio-altura-titulo">
            <div class="col-sm">
                <div class="col-sm">
                    <i class="material-icons" style="font-size:90px;color:#1b4f72;">account_circle</i>
                </div>
                <div class="col-sm">
                    <h3><strong> Mapas en Formato Geojson </strong></h3>
                </div>
            </div>
            <div class="col-sm">
                <form>
                    <div class="form-group espacio-altura-titulo">
                        <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="Usuario :">
                    </div>
                    <div class="form-group espacio-altura-labels">
                        <input type="password" class="form-control" id="exampleDropdownFormPassword2"
                            placeholder="Contraseña :">
                    </div>
                    <button type="submit" class="btn espacio-altura-labels botons-navar">
                        <span> Sign in </span></button>
                </form>
            </div>
        </div>
    </div>
</div>