.container {
    background-color: #a9d7dd !important;
    height: 100% !important;
    min-height: 1vh !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
}

footer {
    background-color: #a9d7dd;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #000000;
    font-weight: bold;
}

body {
    background-color: #e5e7e9;
}

.navbar-class {
    background-color: #a9d7dd !important;
    color: #000000 !important;
    font-weight: bold !important;
}

.espacio-botones {
    margin-left: 10px;
}

.botons-navar {
    background: #1b4f72;
    color: #ffffff;
    font-weight: bold;
}

.espacio-altura-titulo {
    margin-top: 4%;
}

.espacio-altura-labels {
    margin-top: 20px;
}

.centrar-login {
    margin-top: 6%;
}